* {
  box-sizing: border-box;
}



body {
  margin: 0;

  font-family: 'Segoe UI Historic', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif';
}

.container {
  background-color: #ffffff;
  display: flex;
  height: 90vh;
    border-bottom: 3px solid #dde2e8;

}

.login {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  border-right: 3px solid #dde2e8;
  padding:0 70px;
}
.login h2 {
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
}
.login input {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 17px;
  text-align: right;
}
.btn1 {
  background: #1877f2;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 25px;
  font-size: 18px;
}
.btn2 {
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
  padding: 14px;
  border-radius: 25px;
  font-size: 18px;
}
.btn3 {
  background: transparent;
  color: #1877f2;
  border: 1px solid #1877f2;
  padding: 14px;
  border-radius: 25px;
  font-size: 18px;
}

.photo {width: 100%;}
.photo img{width: 67%;margin-left: 90px;}
.photo p{margin: 20px;}


/* ---------------------------  registe page ---------------------------------*/
.registe{

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center ;
  height: 100vh;

}
.registe h2{
  color: black;
  margin-top: 20px;
  text-align: right;
  width:25% ;
}

.title{
  color: black;
  text-align: right;
  width:25% ;
}

.row{

  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  
}

label {
  font-size: 17px;
  margin: 10px 0 5px;
  display: flex;
    
}

input, select {
  width: 100%;
  padding: 12px 18px;
  border: 2px solid #ccd0d5;
  border-radius: 13px;
  font-size: 14px;
}

.full {
  margin-bottom: 12px;
}

button {
  width: 100%;
  padding: 12px;
  background: #1877f2;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 30px;
 
  margin-bottom: 20px;
}

.registe a {
  display: block;
  text-align: center;
  width: 100%;
  padding: 12px;
  background: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 30px ;
  border: 2px solid #ccd0d5;
  margin-bottom: 20px;
  text-decoration: none;
  
}

